@@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(25deg);
  }

  40% {
    transform: rotate(25deg);
  }

  45% {
    transform: rotate(145deg);
  }

  60% {
    transform: rotate(145deg);
  }

  65% {
    transform: rotate(245deg);
  }

  80% {
    transform: rotate(360deg);
  }

  85% {
    transform: rotate(360deg);
  }
}

#assignee-dial {
  animation: 5s spin ease-out infinite;
}
